body {
	color: #444444;
	padding-top: 10%;
}

h1 {
	background: #ccc;
	border-radius: 10px;
}

#left-side, h1 {
	width: 50%;
	margin: auto;
	padding: 10px;
	text-align: center;
}

ul {
	display : flex;
	flex-wrap: wrap;
	list-style: none;
	align-content: space-around;
}

li, form{
	background: #FF7140;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

a {
	transition: 0.5s;
	text-decoration: none;
	color: #fff;
}

a:hover {
	transition: 1s;
	font-size: 25px;
}

input {
	border-radius: 10px;
	height: 25px;
}

input[type=submit] {
	background: #ccc;
}